<div class="container-detalhes">
	<ng-container *ngIf="usuario == undefined else elseBlock">
		<fa-icon [icon]="faCog" [spin]="true" [size]="'10x'"></fa-icon>
	</ng-container>
	<ng-template #elseBlock>
		<div class="container-avatar">
			<img [src]="usuario.avatar_url">
		</div>
		<div class="container-dados">
			<div class="grupo-info">
				<label>
					Login:
				</label>
				{{usuario.login}}
			</div>
			<div class="grupo-info">
				<label>
					Quantidade de repositórios:
				</label>
				<ng-container *ngIf="usuario.repos == undefined else elseRepos">
					<fa-icon [icon]="faCog" [spin]="true"></fa-icon>
				</ng-container>
				<ng-template #elseRepos>
					{{usuario.repos.length}}
				</ng-template>
			</div>
			<div class="grupo-info">
				<label>
					Quantidade de seguidores:
				</label>
				<ng-container *ngIf="usuario.followers == undefined else elseFollowers">
					<fa-icon [icon]="faCog" [spin]="true" [size]="'10x'"></fa-icon>
				</ng-container>
				<ng-template #elseFollowers>
					{{usuario.followers.length}}
				</ng-template>
			</div>
			<div class="grupo-info">
				<label>
					Criado em:
				</label>
				{{usuario.getDataFormatada(usuario.created_at)}}
			</div>
		</div>
	</ng-template>
</div>